* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    width: 60%;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title-container {
    height: 100%;
    text-align: center;
    margin: auto;
}

.title-container h1 {
    font-size: 3em;
}

.title-container h2 {
    font-size: 1.5em;
    color: rgb(87, 87, 87);
}

.title-container button {
    width: 120px;
    margin: 10px 0;
    cursor: pointer;
}

.input-container {
    height: 100%;
    margin: auto;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-container label {
    display: flex;
    justify-content: space-between;
    width: 270px;
    margin: 10px auto;
}

.input-container input {
    width: 200px;
}

.input-container button {
    width: 100px;
    height: 20px;
    cursor: pointer;
}

.list-container {
    height: 100%;
    display: flex;
    width: 30%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: rgb(243, 243, 243);
    border-radius: 12px;
    padding: 0 6px;
    margin: 10px auto;
}

.link a {
    font-size: 2em;
}

.link a:hover {
    font-size: 2em;
    transform: rotateZ(10deg);
}

.link .link-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-buttons .trash-btn {
    font-size: 1.5em;
    cursor: pointer;
    margin-left: 10px;
    border: none;
    background: none;
}

.link-buttons input {
    border: none;
    background: none;
    cursor: pointer;
}